a {
    color: orange;
}

.description {
    font-style: italic;
}

li {
    margin-right: 2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

ul {
    margin-top: 2rem;
}

h2 {
    margin-left: 2rem;
}

p {
    margin-left: 2rem;
}